 .u-section-1 {
  background-image: none;
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-1 .u-image-1 {
  min-height: 500px;
  background-position: 50% 50%;
  background-image: url("images/1_Z0MAnedwIiNOq8VVbBXtHw.jpg");
  background-size: cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "ADLaM Display";
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-family: "ADLaM Display";
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 14px;
  font-size: 1.5rem;
  background-image: none;
  
  border-style: solid;
  font-weight: 800;
  margin: 160px auto 0;
  padding: 11px 16px 11px 15px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5417em;
  vertical-align: -4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    filter: none;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 8px;
    padding-bottom: 9px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    min-height: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 250px;
  }

  .u-section-1 .u-image-1 {
    min-height: 250px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 50px;
    padding: 4px 10px;
  }
} .u-section-2 {
  background-image: url("images/CatastrophicaBgUpscaled.png");
  background-position: 50% 0%;
  background-size: 101%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-btn-1 {
  --radius: 14px;
  font-size: 1.5rem;
  background-image: none;
  
  border-style: solid;
  font-weight: 800;
  margin: 160px auto 60px;
  padding: 8px 20px 9px 19px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5417em;
  vertical-align: -4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 100px;
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 80px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-size: 145%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: -67px;
    padding: 4px 10px;
  }
}