 .u-section-1 {
  background-image: none;
  min-height: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 567px;
  filter: none;
  background-image: url("images/Underwater_Fantasy_City.jpg");
  background-size: cover;
  background-position: 50% 51.67%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "ADLaM Display";
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-1 .u-image-2 {
  width: 73px;
  height: 73px;
  margin: -63px 171px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: "ADLaM Display";
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 14px;
  font-size: 1.5rem;
  background-image: none;
  
  border-style: solid;
  font-weight: 800;
  margin: 242px auto 0;
  padding: 8px 20px 9px 19px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5417em;
  vertical-align: -4px;
}

.u-section-1 .u-image-3 {
  min-height: 567px;
  background-position: 53.91% 0%;
  background-repeat: no-repeat;
  background-image: url("images/CatastrophicaBgUpscaled.png");
  background-size: 200%;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 50px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-image-4 {
  width: 73px;
  height: 73px;
  margin: -63px 59px 0 auto;
}

.u-section-1 .u-text-4 {
  width: 312px;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 14px;
  font-size: 1.5rem;
  background-image: none;
  
  border-style: solid;
  font-weight: 800;
  margin: 232px auto 0;
  padding: 8px 20px 9px 19px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5417em;
  vertical-align: -4px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 650px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    min-height: 468px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    min-height: 468px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-image-1 {
    min-height: 554px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px 49px;
  }

  .u-section-1 .u-text-1 {
    width: 281px;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -51px;
    margin-right: 222px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 9px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 220px;
  }

  .u-section-1 .u-image-3 {
    min-height: 582px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 37px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 23px;
  }

  .u-section-1 .u-image-4 {
    width: 59px;
    height: 59px;
    margin-top: -49px;
    margin-right: 190px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 198px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1429px;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 437px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 20px 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 734px;
  }

  .u-section-1 .u-image-1 {
    min-height: 365px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 33px;
    height: 34px;
    margin-top: -33px;
    margin-right: 135px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 138px;
  }

  .u-section-1 .u-image-3 {
    min-height: 369px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-4 {
    width: 48px;
    height: 48px;
    margin-top: -41px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 1px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
    margin-top: 113px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 550px;
}

.u-section-2 .u-shape-1 {
  height: 1px;
  width: 100%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 707px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 49px;
}

.u-section-2 .u-text-1 {
  font-family: "ADLaM Display";
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-family: "ADLaM Display";
}

.u-section-2 .u-layout-cell-2 {
  min-height: 590px;
  background-image: none;
  --color-var: #365d2f;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 50px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 458px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 135px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 30px 15px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1132px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: auto;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-shape-1 {
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 50px 40px;
}

.u-section-3 .u-text-1 {
  font-family: "ADLaM Display";
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 560px;
  margin: 40px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 910px;
  --gap: 20px;
  grid-auto-columns: calc(50% - 10px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
  
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 190px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 48.32% 46.97%;
  width: 270px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 190px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 50% 26.97%;
  width: 270px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 190px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 50.48% 0%;
  width: 270px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  height: 190px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 40.77% 7.65%;
  width: 270px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  --color-var: #365d2f;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 50px 50px 40px;
}

.u-section-3 .u-text-10 {
  margin: 0 auto;
}

.u-section-3 .u-list-2 {
  width: 560px;
  margin: 40px auto 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 910px;
  --gap: 20px;
  grid-auto-columns: calc(50% - 10px);
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --radius: 20px;
  
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-5 {
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 48.32% 50%;
  width: 270px;
  height: 190px;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
}

.u-section-3 .u-list-item-6 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-6 {
  animation-timing-function: ease;
  --radius: 20px;
  width: 270px;
  height: 190px;
}

.u-section-3 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
}

.u-section-3 .u-list-item-7 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-7 {
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 50.48% 58.34%;
  width: 270px;
  height: 190px;
}

.u-section-3 .u-text-15 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-3 .u-text-16 {
  font-size: 1rem;
}

.u-section-3 .u-list-item-8 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-8 {
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 40.77% 50%;
  width: 270px;
  height: 190px;
}

.u-section-3 .u-text-17 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-3 .u-text-18 {
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 1369px;
  }

  .u-section-3 .u-list-1 {
    width: 370px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 601px;
  }

  .u-section-3 .u-image-1 {
    height: -27px;
  }

  .u-section-3 .u-image-2 {
    height: -27px;
  }

  .u-section-3 .u-image-3 {
    height: -13px;
  }

  .u-section-3 .u-image-4 {
    height: -27px;
  }

  .u-section-3 .u-list-2 {
    width: 457px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    margin-top: 0;
    min-height: 950px;
  }

  .u-section-3 .u-image-1 {
    width: 165px;
    height: 110px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-2 {
    width: 165px;
    height: 110px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-3 {
    width: 165px;
    height: 110px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-4 {
    width: 165px;
    height: 110px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-3 .u-list-2 {
    width: 100%;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 949px;
    margin-top: 0;
  }

  .u-section-3 .u-image-5 {
    width: 165px;
    height: 110px;
    margin: 0 0 0 auto;
  }

  .u-section-3 .u-text-11 {
    margin: 25px 0 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin: 20px 0 0;
  }

  .u-section-3 .u-image-6 {
    width: 165px;
    height: 110px;
    margin: 0 0 0 auto;
  }

  .u-section-3 .u-text-13 {
    margin: 25px 0 0;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin: 20px 0 0;
  }

  .u-section-3 .u-image-7 {
    width: 165px;
    height: 110px;
    margin: 0 0 0 auto;
  }

  .u-section-3 .u-text-15 {
    margin: 25px 0 0;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin: 20px 0 0;
  }

  .u-section-3 .u-image-8 {
    width: 165px;
    height: 110px;
    margin: 0 0 0 auto;
  }

  .u-section-3 .u-text-17 {
    margin: 25px 0 0;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin: 20px 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 601px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-1 {
    height: 55px;
    width: 80px;
  }

  .u-section-3 .u-image-2 {
    height: 55px;
    width: 80px;
  }

  .u-section-3 .u-image-3 {
    height: 55px;
    width: 80px;
  }

  .u-section-3 .u-image-4 {
    height: 55px;
    width: 80px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-2 {
    width: 80px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-5 {
    width: 100px;
    height: 67px;
  }

  .u-section-3 .u-image-6 {
    width: 100px;
    height: 67px;
  }

  .u-section-3 .u-image-7 {
    width: 100px;
    height: 67px;
  }

  .u-section-3 .u-image-8 {
    width: 100px;
    height: 67px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1007px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-auto-columns: calc(50% - 10px);
    min-height: 884px;
  }

  .u-section-3 .u-image-1 {
    width: 200px;
    height: 120px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: auto;
  }

  .u-section-3 .u-text-2 {
    font-weight: 700;
    width: auto;
    margin-top: 25px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-2 {
    width: 200px;
    height: 120px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: auto;
  }

  .u-section-3 .u-text-4 {
    font-weight: 700;
    width: auto;
    margin-top: 25px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-3 {
    width: 200px;
    height: 120px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: auto;
  }

  .u-section-3 .u-text-6 {
    font-weight: 700;
    width: auto;
    margin-top: 25px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-4 {
    width: 200px;
    height: 120px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: auto;
  }

  .u-section-3 .u-text-8 {
    font-weight: 700;
    width: auto;
    margin-top: 25px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-3 .u-list-2 {
    width: 419px;
    margin-top: 30px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-auto-columns: calc(50% - 10px);
    min-height: 675px;
  }

  .u-section-3 .u-image-5 {
    width: 200px;
    height: 120px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    font-weight: 700;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-6 {
    width: 200px;
    height: 120px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    font-weight: 700;
    width: auto;
  }

  .u-section-3 .u-text-14 {
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-7 {
    width: 200px;
    height: 120px;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    font-weight: 700;
    width: auto;
  }

  .u-section-3 .u-text-16 {
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-8 {
    width: 200px;
    height: 120px;
    margin-left: 0;
  }

  .u-section-3 .u-text-17 {
    font-weight: 700;
  }

  .u-section-3 .u-text-18 {
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
}