 .u-section-1 {
  background-image: url("/images/CatastrophicaBgUpscaled.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-group-elements-1 {
  width: 428px;
  min-height: 73px;
  height: auto;
  margin: 24px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 73px;
  height: 73px;
  margin: -63px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 42px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 14px;
  font-size: 0.9375rem;
  background-image: none;
  
  font-weight: 700;
  margin: 172px auto 60px;
  padding: 8px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 147px;
  }

  .u-section-1 .u-icon-1 {
    vertical-align: -2px;
    font-size: 1.2667em;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 347px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 280px;
    min-height: 55px;
    margin-top: -1px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 55px;
    height: 55px;
    margin-top: -44px;
  }

  .u-section-1 .u-text-2 {
    --text-color-var: #333333;
    font-size: 1.375rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    --radius: 8px;
    font-size: 0.75rem;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 4px 18px;
  }
} .u-section-2 {
  background-image: none;
  
}

.u-section-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 803px;
  margin: 27px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 1.625rem;
    margin-top: 58px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 0.875rem;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 32px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-bottom: 45px;
  }
} .u-section-3 {
  background-image: none;
  
}

.u-section-3 .u-sheet-1 {
  min-height: 662px;
}

.u-section-3 .u-text-1 {
  margin: 63px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 370px;
  --gap: 20px;
  grid-auto-columns: calc(25% - 15px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
  
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 23px;
}

.u-section-3 .u-image-1 {
  height: 175px;
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 48.32% 50%;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 25px;
}

.u-section-3 .u-image-2 {
  height: 175px;
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 25px;
}

.u-section-3 .u-image-3 {
  height: 175px;
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 50.48% 0%;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 25px;
}

.u-section-3 .u-image-4 {
  height: 175px;
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 40.77% 50%;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 305px;
  }

  .u-section-3 .u-list-item-1 {
    --bottom-right-radius: 30px;
    --bottom-left-radius: 30px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-image-1 {
    height: 143px;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-list-item-2 {
    --bottom-right-radius: 30px;
    --bottom-left-radius: 30px;
    
  }

  .u-section-3 .u-image-2 {
    height: 143px;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-list-item-3 {
    --bottom-right-radius: 30px;
    --bottom-left-radius: 30px;
    
  }

  .u-section-3 .u-image-3 {
    height: 143px;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-list-item-4 {
    --bottom-right-radius: 30px;
    --bottom-left-radius: 30px;
    
  }

  .u-section-3 .u-image-4 {
    height: 143px;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-3 .u-list-1 {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 621px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-1 {
    height: 140px;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-2 {
    height: 140px;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-3 {
    height: 140px;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-4 {
    height: 140px;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 565px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-image-1 {
    height: 136px;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 15px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-image-2 {
    height: 136px;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: 15px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-image-3 {
    height: 136px;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    margin-top: 15px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-image-4 {
    height: 136px;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 35px;
    margin-bottom: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 619px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 7px;
  }

  .u-section-3 .u-image-1 {
    height: 102px;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    line-height: 1.6;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 7px;
  }

  .u-section-3 .u-image-2 {
    height: 102px;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    line-height: 1.6;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 7px;
  }

  .u-section-3 .u-image-3 {
    height: 102px;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    line-height: 1.6;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 7px;
  }

  .u-section-3 .u-image-4 {
    height: 102px;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    line-height: 1.6;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }
}