 .u-section-1 {
  background-image: none;
  min-height: 700px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-image-1 {
  min-height: 700px;
  filter: none;
  background-image: url("images/Underwater_Fantasy_City.jpg");
  background-size: cover;
  background-position: 50% 51.67%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "ADLaM Display";
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-1 .u-image-2 {
  width: 73px;
  height: 73px;
  margin: -63px 283px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: "ADLaM Display";
  width: 403px;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 14px;
  font-size: 1.5rem;
  background-image: none;
  
  border-style: solid;
  font-weight: 800;
  margin: 277px auto 0;
  padding: 8px 20px 9px 19px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5417em;
  vertical-align: -4px;
}

.u-section-1 .u-image-3 {
  min-height: 700px;
  background-position: 53.91% 0%;
  background-repeat: no-repeat;
  background-image: url("images/CatastrophicaBgUpscaled.png");
  background-size: 200%;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 50px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-image-4 {
  width: 73px;
  height: 73px;
  margin: -63px 173px 0 auto;
}

.u-section-1 .u-text-4 {
  width: 312px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 14px;
  font-size: 1.5rem;
  background-image: none;
  
  border-style: solid;
  font-weight: 800;
  margin: 277px auto 0;
  padding: 8px 20px 9px 19px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5417em;
  vertical-align: -4px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 650px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    min-height: 577px;
  }

  .u-section-1 .u-image-2 {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 50px;
  }

  .u-section-1 .u-image-3 {
    min-height: 577px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-4 {
    width: -50px;
    height: -50px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: -50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1429px;
  }

  .u-section-1 .u-image-1 {
    min-height: 884px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px;
  }

  .u-section-1 .u-image-3 {
    min-height: 884px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 663px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-1 .u-image-3 {
    min-height: 663px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 20px 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 550px;
}

.u-section-2 .u-shape-1 {
  height: 1px;
  width: 100%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 590px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 49px;
}

.u-section-2 .u-text-1 {
  font-family: "ADLaM Display";
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: "ADLaM Display";
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 590px;
  background-image: none;
  --color-var: #365d2f;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 50px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 458px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 135px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 123px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 183px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 223px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 21px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1043px;
}

.u-section-3 .u-shape-1 {
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: -1px auto -19px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 892px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px;
}

.u-section-3 .u-text-1 {
  font-family: "ADLaM Display";
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 750px;
  margin: 40px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 850px;
  --gap: 20px;
  grid-auto-columns: calc(50% - 10px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
  
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 200px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 48.32% 46.97%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 200px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 50% 26.97%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 200px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 50.48% 0%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  height: 200px;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 40.77% 7.65%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 0;
  background-image: none;
  --color-var: #365d2f;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 50px;
}

.u-section-3 .u-text-10 {
  margin: 0 auto;
}

.u-section-3 .u-list-2 {
  width: 750px;
  margin: 40px auto 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 850px;
  --gap: 20px;
  grid-auto-columns: calc(50% - 10px);
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --radius: 20px;
  
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-5 {
  height: 200px;
  width: 365px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 48.32% 50%;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-6 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-6 {
  height: 200px;
  width: 365px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
}

.u-section-3 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-7 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-7 {
  height: 200px;
  width: 365px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 50.48% 58.34%;
}

.u-section-3 .u-text-15 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-16 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

.u-section-3 .u-list-item-8 {
  --radius: 20px;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 21px;
}

.u-section-3 .u-image-8 {
  height: 200px;
  width: 365px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  --radius: 20px;
  object-position: 40.77% 50%;
}

.u-section-3 .u-text-17 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-3 .u-text-18 {
  font-size: 1rem;
  margin: 20px 25px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 887px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 736px;
  }

  .u-section-3 .u-list-1 {
    width: -50px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: -57px;
  }

  .u-section-3 .u-image-1 {
    height: -27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: -27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: -13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: -27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    width: 457px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 571px;
  }

  .u-section-3 .u-image-5 {
    height: -27px;
    width: -50px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    height: -27px;
    width: -50px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    height: -27px;
    width: -50px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    height: -27px;
    width: -50px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 251px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-3 .u-list-2 {
    width: 347px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 351px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: -26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-2 {
    width: -50px;
  }
}