.u-section-1 .u-sheet-1 {
  min-height: 431px;
}

.u-section-1 .u-group-elements-1 {
  width: 296px;
  min-height: 62px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-shape-1 {
  height: 50px;
  --border-color-var: #4f7748;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  letter-spacing: 0px;
  margin: -62px auto 0 15px;
}